<div class="table-responsive-wrapper">
	<table>
		<tbody>
			<tr>
				<td><strong>Überschrift 1</strong></td>
				<td><strong>Überschrift 2</strong></td>
				<td><strong>Überschrift 3</strong></td>
				<td><strong>Überschrift 4</strong></td>
				<td><strong>Überschrift 5</strong></td>
				<td><strong>Überschrift 6</strong></td>
				<td><strong>Überschrift 7</strong></td>
				<td><strong>Überschrift 8</strong></td>
			</tr>
			<tr>
				<td><a href="#">Ipsum dolor amet,</a> consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td><span class="underline">Ipsum dolor amet</span>, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			</tr>
			<tr>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			</tr>
			<tr>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
				<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			</tr>
		</tbody>
	</table>
</div>