
<table>
	<thead>
		<tr>
			<td><strong>Title 1</strong></td>
			<td><strong>Title 2</strong></td>
			<td><strong>Title 3</strong></td>
			<td><strong>Title 4</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#">Ipsum dolor amet,</a> consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td><span class="underline">Ipsum dolor amet</span>, consetetu sadipsci elitr, sed diam</td>
		</tr>
		<tr>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
		</tr>
		<tr>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
			<td>Ipsum dolor amet, consetetu sadipsci elitr, sed diam</td>
		</tr>
	</tbody>
</table>

