/*********************************************************

rb-richtext
----------------------------------------------------------

**********************************************************/
//Headers
$richtext-font-h1: sans-serif !default;
$richtext-fontsize-h1: rb-rem-calc(29) !default;
$richtext-lineheight-h1: rb-rem-calc(32) !default;
$richtext-color-h1: #666 !default;
$richtext-margin-h1: rb-rem-calc(0 0 25) !default;

$richtext-font-h2: $richtext-font-h1 !default;
$richtext-fontsize-h2:  rb-rem-calc(29) !default;
$richtext-lineheight-h2: rb-rem-calc(32) !default;
$richtext-color-h2: #666 !default;
$richtext-margin-h2: rb-rem-calc(0 0 20) !default;

$richtext-font-h3: $richtext-font-h1 !default;
$richtext-fontsize-h3: rb-rem-calc(24) !default;
$richtext-lineheight-h3: rb-rem-calc(29) !default;
$richtext-color-h3: #666 !default;
$richtext-margin-h3: rb-rem-calc(0 0 15) !default;

//Text (paragraph/lists)
$richtext-font-text: sans-serif !default;
$richtext-fontsize-text: rb-rem-calc(18) !default;
$richtext-lineheight-text: rb-rem-calc(24) !default;
$richtext-color-text: #666 !default;
$richtext-margin-text: rb-rem-calc(0 0 30) !default;
$richtext-link-color: blue !default;

//List-items
$richtext-list-style-ol: decimal !default;
$richtext-margin-list-style: rb-rem-calc(27) !default;

//Figure
$richtext-fontsize-figcaption: rb-rem-calc(14) !default;
$richtext-lineheight-figcaption: rb-rem-calc(22) !default;

//Blockquote
$richtext-font-blockquote: serif !default;;
$richtext-fontsize-blockquote: rb-rem-calc(42) !default;;
$richtext-lineheight-blockquote: rb-rem-calc(52) !default;;
$richtext-fontstyle-blockquote: italic !default;
$richtext-fontweight-blockquote: 600 !default;
$richtext-margin-blockquote: rb-rem-calc(0 0 40) !default;;

//Table
$richtext-font-table: $richtext-font-text !default;
$richtext-fontsize-table: $richtext-fontsize-text !default;
$richtext-lineheight-table: rb-rem-calc(24) !default;
$richtext-color-table: #666 !default;
$richtext-margin-table: rb-rem-calc(0 0 30) !default;
$richtext-padding-table: rb-rem-calc(20) !default;
$richtext-border-tr-thead: 4px solid #666 !default;
$richtext-border-tr-tbody: 2px solid #666 !default;
$richtext-background-odd: #ccc !default;

.rb-richtext {

	//Table
	.table {
		width: 100%;
	}

	thead {

		tr {
			border-bottom: $richtext-border-tr-thead;
		}

		th {
			color: $richtext-color-table;
		}
	}

	tbody {

		tr {
			border-bottom: $richtext-border-tr-tbody;
		}

		tr:nth-child(odd) {
			background: $richtext-background-odd;
		}

		th {
			padding: $richtext-padding-table;
		}

		td {
			padding: $richtext-padding-table;
			border-right: $richtext-border-tr-tbody;
			color: $richtext-color-table;

			&:first-child {
				border-left: $richtext-border-tr-tbody;
			}
		}
	}

	@include rb-respond-to(all) {

		> h1 {
			margin: $richtext-margin-h1;
			font-size: $richtext-fontsize-h1;
			line-height: $richtext-lineheight-h1;
		}

		> h2 {
			margin: $richtext-margin-h2;
			font-size: $richtext-fontsize-h2;
			line-height: $richtext-lineheight-h2;
		}

		> h3 {
			margin: $richtext-margin-h3;
			font-size: $richtext-fontsize-h3;
			line-height: $richtext-lineheight-h3;
		}

		p {
			margin: $richtext-margin-text;
			font-size: $richtext-fontsize-text;
			line-height: $richtext-lineheight-text;
		}

		> ol,
		> ul {
			margin: $richtext-margin-text;
			font-size: $richtext-fontsize-text;
			line-height: $richtext-lineheight-text;

			li {
				line-height: $richtext-lineheight-text;
			}
		}

		.richtext-mediabox {
			margin: $richtext-margin-text;

			figcaption {
				font-size: $richtext-fontsize-figcaption;
				line-height: $richtext-lineheight-figcaption;
			}
		}

		blockquote {
			p {
				font-size: $richtext-fontsize-blockquote;
				line-height: $richtext-lineheight-blockquote;
			}
		}
	}

	@include rb-respond-to(xl) {


	}


	//Global Styles
	width: 100%;

	//Header
	> h1 {
		font-family: $richtext-font-h1;
		color: $richtext-color-h1;
	}

	> h2 {
		font-family: $richtext-font-h2;
		color: $richtext-color-h2;
	}

	> h3 {
		font-family: $richtext-font-h3;
		color: $richtext-color-h3;
	}


	//Text
	p {
		font-family: $richtext-font-text;
		color: $richtext-color-text;

		&.is-align-right {
			text-align: right;
		}

		&.is-align-center {
			text-align: center;
		}

		&.is-justify {
			text-align: justify;
		}
	}

	> ol,
	> ul {
		font-family: $richtext-font-text;
		color: $richtext-color-text;
	}

	ul {

		ul,
		ol {
			margin-top: 6px;
		}

		> li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 20px;

			&::before {
				content: "";
				position: absolute;
				top: 8px;
				left: 3px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $richtext-color-text;
			}
		}

	}

	ol {
		list-style: $richtext-list-style-ol;
		margin-left: $richtext-margin-list-style;

		ul,
		ol {
			margin-top: rb-rem-calc(6);
		}

		> li {
			margin-bottom: rb-rem-calc(10);
		}
	}

	//Different Stylings
	a {
		color: $richtext-link-color;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.underline {
		text-decoration: underline;
	}
	.strike {
		text-decoration: line-through;
	}
	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}


	//Media-box
	.richtext-mediabox {
		position: relative;

		img {
			width: 100%;
		}

		figcaption {
			position: relative;
			width: 100%;
			padding: rb-rem-calc(10 0);
			font-family: $richtext-font-text;
			color: $richtext-color-text;
		}

		.richtext-copyright {
			position: relative;
			margin-left: 5px;
			padding-right: rb-rem-calc(20);
			font-weight: 400;

			&::before {
				content: ' - '
			}

			&::after {
				content: ' \00a9'; //copyright sign
			}
		}

		&.is-floated-left {
			float: left;
			top: 6px;
			margin: 0;
			padding: rb-rem-calc(0 20 20 0);
		}

		&.is-floated-right {
			float: right;
			top: 6px;
			margin: 0;
			padding: rb-rem-calc(0 0 20 20);
		}
	}

	blockquote {
		margin: $richtext-margin-blockquote;

		p {
			position: relative;
			font-family: $richtext-font-blockquote;
			font-style: $richtext-fontstyle-blockquote;
			font-weight: $richtext-fontweight-blockquote;
		}


		&::before {
			content: '';
			position: absolute;
			left: -30px;
			width: 100px;
			height: 200px;
			font-size: rb-rem-calc(60);
		}

		cite {
			font-style: normal;
			color: $richtext-color-text;
		}
	}



}
